{% extends 'snapvisite/base.html' %}

{% block content %}

<div class="container-fluid mx-auto" style="background-color: #caf7f6; border: 1px solid gray">
    <h1 style="padding-top:15px; padding-bottom:15px" class="display-3 text-center">Password has been successfully changed
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
</svg></h1>
</div>
<br>
<div class="container text-center">
    <a href="{% url 'account:profile_detail' request.user.id %}">
        <button style="width: 300px;height:100px" type="button" class="btn btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </button>
    </a>
</div>

{% endblock content %}
