{% extends 'snapvisite/base.html' %}

{% block content %}

<div class="container-fluid mx-auto" style="background-color: #CAF7F6;border: 1px solid gray;"><br>
    <h1 class="display-3 text-center"> Change your password </h1><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" id="id_password_change_form">
                <div class="mb-3 mt-3 text-center">
                    {% csrf_token %}
                    <label for="id_username"><h1 class="display-6">Old password</h1></label>
                    <input type="password" class="form-control" name="old_password" autofocus autocapitalize="none" maxlength="150" autocomplete="current-password"
                    required="" id="id_old_password">
                </div>
                <div class="mb-3 mt-3 text-center">
                    <label for="id_username"><h1 class="display-6">New password</h1></label>
                    <input type="password" class="form-control" name="new_password1" autofocus autocapitalize="none" maxlength="150" autocomplete="new-password"
                    required="" id="id_new_password1">
                </div>
                <div class="mb-3 mt-3 text-center">
                    <label for="id_username"><h1 class="display-6">New password confirmation</h1></label>
                    <input type="password" class="form-control" name="new_password2" autofocus autocapitalize="none" maxlength="150" autocomplete="new-password"
                    required="" id="id_new_password2">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-outline-dark" name='submit' value="login" style="margin-bottom: 20px; width: 40%; font-size: 24px; background-color: white; color: black;"> Change password </button>
                </div>
                {{ form.errors }}
            </form>
        </div>
    </div>
</div>

{% endblock content %}
