<div class="container-fluid mt-5 p-4 bg-light text-black text-center">
    <div class="container row-cols-5 credit-card">
        <img class="col-sm-1" style="max-height: 60px; width: auto; display: inline-block; margin: 15px;" src="https://static.shoplineimg.co/assets/footer/card_visa.png"/>
        <img class="col-sm-1" style="max-height: 60px; width: auto; display: inline-block; margin: 15px;" src="https://static.shoplineimg.co/assets/footer/card_master.png"/>
        <img class="col-sm-1" style="max-height: 60px; width: auto; display: inline-block; margin: 15px;" src="https://static.shoplineimg.co/assets/footer/card_google_pay.png"/>
        <img class="col-sm-1" style="max-height: 60px; width: auto; display: inline-block; margin: 15px;" src="https://static.shoplineimg.co/assets/footer/card_apple_pay_with_border.png"/>
        <img class="col-sm-1" style="max-height: 60px; width: auto; display: inline-block; margin: 15px;" src="https://static.shoplineimg.co/assets/footer/card_paypal.png"/>
    </div>
</div>