{% load static %}
{% load custom_tags %}
{% all_categories as categories %}


{% include "snapvisite/account_offcanvas.html" %}
<nav class="row navbar navbar-expand-sm bg-light fixed-top shadow-sm p-4 mb-4" style="font-family: 'Lato', serif;">
<!-- CONTAINER WITH LOGO PART -->
    <div class="container-fluid me-auto">
<!-- LOGO IMAGE WITH REDIRECT FUNCTION -->
    <a class="navbar-brand col-sm-4" href="{% url 'snapvisite:home-page' %}">
        <img class="img-fluid" src="{% static 'snapvisite/images/logo_color.png' %}" alt="logo_icon">
    </a>
        <div class="float-sm-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
<!-- NAVBAR FIELD PART -->
        <div class="collapse navbar-collapse mt-auto" id="#mynavbar">
<!-- CATEGORIES PART -->
            <form class="d-flex col-sm-8" method="post" action="{% url 'snapvisite:company_search' %}">
        <select class="form-select " aria-label="form-select" name="category" style="border: solid 1px black; border-radius: 10px 0 0 10px; max-width: 200px;">
            <option value="0" selected>CATEGORIES</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
<!-- SEARCHING FIELD PART -->
                    <label style="border: solid 1px black;">
                        <input class="form-control me-2" style="width: 400px; border: none;" type="search" placeholder="Enter the city you are looking for..."
                        name="city">
                    </label>
<!-- SEARCH BUTTON PART -->
                    <button class="button" type="submit" style="border: solid 1px black; border-radius: 0 10px 10px 0; width: 120px; background: white; color: black;">
                        <strong>Search</strong>
                    </button>
                    {% csrf_token %}
                </form>
<!-- ACCOUNT PART -->
        <div class="nav-item">
            <a class="nav-link" href="#accountcanvas" data-bs-toggle="offcanvas" data-bs-target="#accountcanvas">
                <img class="img-fluid" src="{% static 'snapvisite/images/account_icon.png' %}" alt="account_icon">
            </a>
        </div>
        </div>
        </div>
</nav>